$color-DarkBlue:#202733;
$color-DarkGrayishBlue: #313A48;
$color-GrayishBlue: #4F5D74;
$color-LightCyan: #CEE3E9;
$color-NeonGreen: #53FFAA;


body 
{
    margin: 0;
    background-color: $color-DarkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 7.5rem 4.2%;
}

